aiohttp
appdirs
asgiref
async-timeout
attrs
black
certifi
chardet
charset-normalizer
click
coreapi
coreschema
Django
django-debug-toolbar
django-ninja
django-ratelimit
django-seed
django-user-agents
djangorestframework
drf-yasg
Faker
geoip2
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
maxminddb
multidict
mypy-extensions
mysqlclient
packaging
pathspec
pydantic
pyparsing
python-dateutil
pytz
regex
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
text-unidecode
toml
typing-extensions
ua-parser
uritemplate
urllib3
user-agents
yarl