appdirs
asgiref
black
click
Django
django-debug-toolbar
django-ninja
django-seed
djangorestframework
Faker
gunicorn
mypy-extensions
pathspec
pydantic
python-dateutil
pytz
regex
six
sqlparse
text-unidecode
toml
typing-extensions